body{
    margin: 0;
    padding: 0;
    border: 0;
}


.result {  
    background-color: red;
    padding: 1.27cm 0.48cm 1.27cm 0.48cm;  
    width: 210mm;  
    height: 297mm;
}
table {  
    width: 100%;  
    height: 100%;
}
tr {  
    height: 2.54cm;  
    width: 100%;
}
td {  
    text-align: center;
    width: 6.67cm;
    font-family: 'Libre Barcode 128 Text', bold;  
    font-size: 40px;  
    background-color: white;  
    margin: 0px;  
    padding: 0px;  
    border: 0px;
}
.etiqueta span {  display: inline-block;}
.hide {  display: none;};
