body {
	font-family: Trebuchet MS;
	background-image: url(../_images/fundo_principal.gif);
	margin: 0;
}

input,select,textarea {
	font-family: Trebuchet MS;
	font-size: 11px;
	color: #333333;
	background-color: #F7F5E9;
	border-color: #808080;
	border-style: solid;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
}

.texto01 {
	font-size: 11px;
	color: #515050;
}

.texto01 a:link {
	text-decoration: none;
	color: #F43700;
}

.texto01 a:visited {
	text-decoration: none;
	color: #F43700;
}

.texto01 a:hover {
	text-decoration: none;
	background-color: #F43700;
	color: #FFFFFF;
}

.texto02 {
	font-size: 11px;
	color: #515050;
}

.texto02 a:link {
	text-decoration: none;
	color: #515050;
}

.texto02 a:visited {
	text-decoration: none;
	color: #515050;
}

.texto02 a:hover {
	text-decoration: none;
	background-color: #515050;
	color: #FFFFFF;
}

.texto03 {
	font-size: 18px;
	color: #515050;
}

.texto03 a:link {
	text-decoration: none;
	color: #F43700;
}

.texto03 a:visited {
	text-decoration: none;
	color: #F43700;
}

.texto03 a:hover {
	text-decoration: none;
	background-color: #F43700;
	color: #FFFFFF;
}

.texto04 {
	font-size: 18px;
	color: #515050;
}

.texto04 a:link {
	text-decoration: none;
	color: #515050;
}

.texto04 a:visited {
	text-decoration: none;
	color: #515050;
}

.texto04 a:hover {
	text-decoration: none;
	background-color: #515050;
	color: #FFFFFF;
}

.texto05 {
	font-size: 12px;
	color: #515050;
}

.texto05 a:link {
	text-decoration: none;
	color: #515050;
}

.texto05 a:visited {
	text-decoration: none;
	color: #515050;
}

.texto05 a:hover {
	text-decoration: none;
	background-color: #515050;
	color: #FFFFFF;
}

.texto06 {
	font-size: 18px;
	color: #FF7800;
}

.texto07 {
	font-size: 10px;
	color: #515050;
}

.texto07 a:link {
	text-decoration: none;
	color: #515050;
}

.texto07 a:visited {
	text-decoration: none;
	color: #515050;
}

.texto07 a:hover {
	text-decoration: none;
	background-color: #515050;
	color: #FFFFFF;
}

.texto08 {
	font-size: 18px;
	color: #79796B;
}

.bullet01 {
	list-style-image: url(../_images/bullet01.gif);
}

.texto09 {
	font-size: 12px;
	color: #41413C;
}

.texto09 a:link {
	text-decoration: none;
	color: #41413C;
}

.texto09 a:visited {
	text-decoration: none;
	color: #41413C;
}

.texto09 a:hover {
	text-decoration: underline;
}

.texto10 {
	font-size: 14px;
	color: #F43700;
}

.tituloAba {
	font-family: Trebuchet MS;
	font-size: 12px;
	color: #A81E01;
	font-weight: bold;
	text-transform: uppercase;
}

.texto11 {
	font-size: 10px;
	color: #FFFFFF;
}

.texto11 a:link {
	text-decoration: none;
	color: #FFFFFF;
}

.texto11 a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.texto11 a:hover {
	text-decoration: none;
	background-color: #FFFFFF;
	color: #F43700;
}

.texto12 {
	font-size: 18px;
	color: #666666;
}

.texto13 {
	font-size: 11px;
	color: #333333;
}

.texto14 {
	font-size: 12px;
	color: #F43700;
}

.texto15 {
	font-size: 10px;
	color: #A81E01;
}

.texto16 {
	font-size: 16px;
	color: #666666;
}

.texto16 a:link {
	text-decoration: none;
	color: #666666;
}

.texto16 a:visited {
	text-decoration: none;
	color: #666666;
}

.texto16 a:hover {
	text-decoration: none;
}

.texto17 {
	font-size: 12px;
	color: #5c5c5c;
}

.texto17 a:link {
	text-decoration: none;
	color: #5c5c5c;
}

.texto17 a:visited {
	text-decoration: none;
	color: #5c5c5c;
}

.texto17 a:hover {
	text-decoration: none;
}

.texto18 {
	font-size: 12px;
	color: #333333;
}

.texto19 {
	font-size: 11px;
	color: #FFFFFF;
}

.texto20 {
	font-family: Tahoma;
	font-size: 11px;
	color: #686767;
}

.texto21 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: left;
	padding-left: 20px
}

.texto22 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: center;
}

.texto23 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: right;
}

.texto24 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: center;
	padding: 0 2px 0 2px;
}

.texto25 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #686767;
	height: 20px;
	padding: 0 2px 0 2px;
	text-align: center;
}

.texto26 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #686767;
	height: 20px;
	padding: 0 2px 0 2px;
	text-align: right;
}

.texto27 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #686767;
	height: 20px;
	padding: 0 2px 0 2px;
	text-align: left;
}

.texto28 {
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: left;
	padding: 0 2px 0 2px;
}

.texto29 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 20px;
	text-align: right;
	padding: 0 2px 0 2px;
}

.headerDisplaytag {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: left;
	padding: 0 5px 0 5px;
}

.columnDisplayTag {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #686767;
	height: 20px;
	text-align: left;
	padding: 0 5px 0 10px;
}

.headerDisplaytag2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-transform: uppercase;
	background-image: url(../_images/fundo_box02.gif);
	height: 40px;
	text-align: left;
	padding: 0 2px 0 3px;
}

.columnDisplayTag2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #686767;
	height: 20px;
	text-align: left;
	padding: 0 2px 0 3px;
}

.textovertical {
	font-size: 11px;
	color: #FFFFFF;
	writing-mode: tb-rl;
	filter: flipv fliph
}

.scroll01 {
	width: 200px height : 100px overflow :   auto
}

/* inicio menu interno */
.sdmenu {
	font-family: Trebuchet MS;
	font-size: 11px;
	padding-bottom: 10px;
}

.sdmenu .title,.sdmenu .titlehidden {
	display: block;
	padding: 10px 0;
	font-weight: bold;
	background: #EBE8D6;
	color: #F43700;
	cursor: hand;
	border-bottom: 1px solid #FFF;
}

.sdmenu .arrow {
	margin-left: 10px;
	margin-right: 7px;
}

.sdmenu .submenu {
	overflow: hidden;
}

.sdmenu .submenu a {
	padding: 5px 0 5px 20px;
	text-indent: 10px;
	display: block;
	color: #F43700;
	background: #FFFFFF;
	text-decoration: none;
}

.sdmenu .submenu a:hover {
	font-weight: bold;
}

/* fim menu interno */ /* inicio tabs */
.shadetabs {
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	font: bold 11px Trebuchet MS;
	list-style-type: none;
	text-align: left;
	/*set to left, center, or right to align the menu as desired*/
}

.shadetabs li {
	display: inline;
	margin: 0;
	text-transform: uppercase;
}

.shadetabs li a {
	text-decoration: none;
	padding: 3px 7px;
	margin-right: 3px;
	border: 1px solid #959595;
	color: #000000;
	background: url(../_images/shade.gif) top left no-repeat;
	background-color: #F3F3F3;
}

.shadetabs li a:visited {
	color: #000000;
}

.shadetabs li a:hover {
	text-decoration: underline;
	color: #000000;
}

.shadetabs li.selected {
	position: relative;
	top: 1px;
}

.shadetabs li.selected a { /*selected main tab style */
	background: url(../_images/shadeactive.gif) repeat-x;
	border-bottom-color: white;
}

.shadetabs li.selected a:hover { /*selected main tab style */
	text-decoration: none;
}

.tabcontentstyle { /*style of tab content oontainer*/
	border: 1px solid #959595;
	margin-bottom: 1em;
}

.tabcontent {
	display: none;
}

/* fim tabs */
.img_prod {
	border: 1px solid #DDDDDD;
	width: 260px;
}

.prod_info {
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 18px;
}

.prod_info_dest {
	background-color: #F7F5E9;
	padding: 10px;
	line-height: 18px;
}

tr.odd {
	background-color: #FFFFFF
}

tr.tableRowEven,tr.even {
	background-color: #EBE8D6
}

div.exportlinks {
	background-color: #EBE8C;
	border: 1px dotted #808080;
	padding: 2px 4px 2px 4px;
	margin: 4px 0 10px 0;
	width: 95%;
	font-family: Tahoma;
	font-size: 11px;
	color: #686767;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
	font-family: Tahoma;
	font-size: 11px;
	color: #686767;
}

span.excel {
	background-image: url(../_images/ico_file_excel.png);
}

span.csv {
	background-image: url(../_images/ico_file_csv.png);
}

span.xml {
	background-image: url(../_images/ico_file_xml.png);
}

span.pdf {
	background-image: url(../_images/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../_images/ico_file_rtf.png);
}

span.pagebanner {
	background-color: #EBE8C;
	border: 1px dotted #808080;
	padding: 2px 4px 2px 4px;
	width: 95%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	font-family: Tahoma;
	font-size: 11px;
	color: #686767;
}

span.pagelinks {
	background-color: #EBE8C;
	border: 1px dotted #808080;
	padding: 2px 4px 2px 4px;
	width: 95%;
	display: block;
	border-top: none;
	margin-bottom: -5px;
	font-family: Tahoma;
	font-size: 11px;
	color: #686767;
}

.group-1 {
	font-weight: bold;
	padding-bottom: 10px;
	border-top: 1px solid black;
}

.group-2 {
	font-style: italic;
	border-top: 1px solid black;
}

.subtotal-sum,.grandtotal-sum {
	font-weight: bold;
	text-align: right;
}

.subtotal-header {
	padding-bottom: 0px;
	border-top: 1px solid white;
}

.subtotal-label,.grandtotal-label {
	border-top: 1px solid white;
	font-weight: bold;
}

.grouped-table tr.even {
	background-color: #fff;
}

.grouped-table tr.odd {
	background-color: #fff;
}

.grandtotal-row {
	border-top: 2px solid black;
}

th.sorted {
	background-color: orange;
}

th a,th a:visited {
	color: white;
}

th a:hover {
	text-decoration: none;
	color: white;
}

.sortable {
	padding-left: 10px;
	padding-right: 5px;
}

th.sorted a,th.sortable a {
	text-decoration: none;
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background-image: url(../_images/arrow_off_right.png);
}

th.order1 a {
	background-image: url(../_images/arrow_down_right.png);
}

th.order2 a {
	background-image: url(../_images/arrow_up_right.png);
}

.galeria {
	width: 450px;
	margin: 0 auto;
	text-align: left;
}

.img-aqui {
	background: #fff center no-repeat;
	width: 280px;
	height: 210px;
	position: relative;
	top: 8px;
	float: right;
	border: 1px solid #fff;
}

ul.fotos {
	position: relative;
	list-style: none;
	width: 114px;
	padding: 1px;
	background: #fff;
	margin: 0;
	padding: 0;
}

.fotos:after {
	display: block;
	content: ".";
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}

ul.fotos li {
	width: 50px;
	height: 40px;
	float: left;
	border: 2px solid #A81E01;
	margin: 1px;
}

ul.fotos li img {
	border: none;
	width: 50px;
	height: 40px;
}

ul.fotos li span img {
	border: none;
	width: 280px;
	height: 210px;
	height: auto;
}

ul.fotos a {
	display: block;
}

ul.fotos a span {
	display: none;
}

ul.fotos a:hover span.legenda {
	display: block;
	text-align: center;
	width: 280px;
	position: absolute;
	top: 210px;
	left: -2px;
}

ul.fotos a:hover span {
	display: block;
	position: absolute;
	top: -5px;
	left: 177px;
	background: #fff;
	border: 2px solid #A81E01;
}

ul.fotos a:hover span.legenda {
	padding: 5px 0;
	color: #333;
}

ul {
	list-style-type: none; /*retira os pontos negros da lista*/
	background-color: #ffffef;
	border: 1px solid #ffdb4f;
	color: #ff730b;
	margin: 0px 10px 10px 10px;
	padding: 10px;
}

.actionMessage {
	font-size: 13px;
	font-weight: bold;
}

.roundedcornr_box {
	background: #ebe8d6;
}

.roundedcornr_top div {
	background: url(../_images/roundedcornr_tl.png) no-repeat top left;
}

.roundedcornr_top {
	background: url(../_images/roundedcornr_tr.png) no-repeat top right;
}

.roundedcornr_bottom div {
	background: url(../_images/roundedcornr_bl.png) no-repeat bottom left;
}

.roundedcornr_bottom {
	background: url(../_images/roundedcornr_br.png) no-repeat bottom right;
}

.roundedcornr_top div,.roundedcornr_top,.roundedcornr_bottom div,.roundedcornr_bottom
	{
	width: 100%;
	height: 15px;
	font-size: 1px;
}

.roundedcornr_content {
	margin: 0 15px;
}